.mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

b {
  color: orange;
}

br {
  content: '';
  margin: 2em;
  display: block;
  font-size: 24%;
}

.calcitePanelBasemaps {
  display: grid;
  width: 100%;
  height: 100%;
}

/*https://developers.arcgis.com/calcite-design-system/foundations/colors/ */
calcite-list-item {
  white-space: pre-line;
}

calcite-label {
  --calcite-color-text-1: #ffffff;
  /* --calcite-font-size--2: 1rem; */
  /* margin-top: 1vh; */
  margin-left: 15px;
  margin-top: 10px;
}

calcite-action-bar {
  --calcite-color-border-3: #555555;
  --calcite-color-text-3: #bfbfbf;
}

calcite-shell {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-text-1: #ffffff;
  --calcite-color-background: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-shell-panel {
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-panel {
  overflow-y: auto;
  --calcite-color-text-1: #b2beb5;
  --calcite-color-foreground-1: #2b2b2b;
  --calcite-color-foreground-2: #2b2b2b;
  --calcite-color-text-2: #ffffff;
  background-color: #2b2b2b;
  --calcite-color-border-3: #555555;
}

calcite-list {
  overflow-y: auto;
  /* --calcite-color-border-3: #555555; */
}

calcite-avatar {
  margin-inline-end: 0.3rem;
  margin-top: 0.15rem;
}

calcite-tabs {
  --calcite-color-border-3: #555555;
  --calcite-color-border-2: #555555;
  --calcite-color-border-1: #555555;
  border-style: solid;
  border-width: 0.7;
  border-top: rgb(0, 0, 0, 0);
  width: 50vh;
}

#layers-container {
  overflow-y: auto;
}

.esri-legend__layer-caption {
  display: none;
}

.esri-legend {
  /* transform: scale(1.1, 1.1); */
  background-color: #2b2b2b;
  max-width: 255px;
}

.esri-legend__ramp-labels {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.calcite-tutorial {
  --calcite-color-brand: #039851;
  --calcite-color-brand-hover: #008d52;
}

.calcite-tutorial calcite-chip {
  --calcite-color-foreground-2: var(--calcite-color-brand);
  --calcite-color-text-1: white;
  margin-inline-end: 0.75rem;
}

calcite-label {
  font-size: large;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00032235;

  /*#032235*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00032235;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00032235;
}
